body{
    background-color: rgb(48, 45, 45);
    color: white;
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
}

.footer{
background-color: rgb(48, 45, 45);
    color: white;
    font-size: medium;
    padding: 10px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
}
.carousel{
    height: 80vh;
}

.carousel img{
    height: 80vh;
}

.bd img{
    height: 50px;
    width: 50px;
    border: 2px solid yellow;
    border-radius: 50%;
}