body{
    background-color: rgb(48, 45, 45);
    color: white;
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
}

.footer{
background-color: rgb(48, 45, 45);
    color: white;
    font-size: medium;
    padding: 10px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
}
.carousel{
    height: 80vh;
}

.carousel img{
    height: 80vh;
}

.bd img{
    height: 50px;
    width: 50px;
    border: 2px solid yellow;
    border-radius: 50%;
}

.header img{
    height: 50px;
    width: 50px;
    border: 3px solid brown;
    border-radius: 50%;
    justify-content: space-between;
}

.nav li{
    margin-left: 20px;
    text-decoration: none;
}

.header{
    flex-direction: row;
    justify-content: space-between;
    background-color: green;
    display: flex;
    align-items: center;
    box-shadow: 0.8 0.9 red;
}
/*  */